.pirate {
  max-height: 40%;
  min-height: 15%;
  max-width: 90%;
  min-width: 55%;
}

.pub {
  font-style: italic;
}
.mycontent-left {
  padding-left: 10px;
}
.mycontent-right {
  border-left: .5px solid #333;
  padding-left: 40px;
}

h1 {
  font-family: 'Liu Jian Mao Cao', cursive;
}

.byline {
  font-family: 'Times New Roman', Times, serif;
}