.jumbotron {
  background-image: url(../img/pirate-ship.jpg);
  background-size: cover;
  background-position: center center;
}

.jumbotron h1 {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

.jumbotron p {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-align: center;
}